# Server
PORT=5000
CLIENT_URL=http://localhost:5173

# MongoDB Atlas
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/ais-vessel-tracker?retryWrites=true&w=majority

# AIS Feed
AIS_HOST=ais.portvision.com
AIS_PORT=56824
